# --------------------------------------------------------------------------------------------------
# Directories
# --------------------------------------------------------------------------------------------------

# Hidden.
.idea
.vscode

# --------------------------------------------------------------------------------------------------
# Files
# --------------------------------------------------------------------------------------------------


# --------------------------------------------------------------------------------------------------
# Exceptions
# --------------------------------------------------------------------------------------------------